*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(243, 243, 240);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 0;

}
.login-container{
    background-color: #ffffff;
    border: 3px;
    border-radius: 5px;
    width: 370px;
    box-shadow: 0 0 5px rgba(216, 216, 216, 0.799);
    padding: 20px;
    float: right;
    height: 53vh;
    color: #ffffffc1;
    margin-left: 730px;
    margin-top: 130px;
   position: absolute;



    
   

}
input{
    display: block;
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid gray;
    opacity: 0.5;
    font-weight: bold;
    margin-top: 10px;
    height: 5vh;


}
.login{
    color: rgb(255, 255, 255);
    outline: none;
    display: block;
    width: 100%;
    background-color: #0066ff;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid ;
    font-weight: bold;
    cursor: pointer;
    height: 8vh;
    text-decoration: none;
    font-size: larger;


}
.forgot{
    align-items: center;
    text-decoration: none;
    color: rgba(4, 0, 255, 0.845);
    margin-left: 120px;
}
.forgot:hover{
    transition: 0.5s;
    text-decoration: underline;
}

.green{
    color: rgb(255, 255, 255);
    outline: none;
    display: block;
    width: 50%;
    background-color: #12c029;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid ;
    font-weight: bold;
    cursor: pointer;
    margin-left: 75px;
    text-decoration: none;
    text-align: center;
    font-size: large;
   font-family: Arial, Helvetica, sans-serif;
   height: 4vh;
   align-items: center;
}
img{
    width: 20%;
    margin-top: 200px;
    margin-left: 150px;
    float: left;
}
h2{
    color: black;
    margin-right: 650px;
    margin-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    margin-top: 20px;

}
.page{
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
.text{
    color: black;
    margin-bottom: px;
}
.page{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.page :hover{
    text-decoration: underline;
    transition: 0.5s;
}
nav{
    align-items: center;
    margin: auto;
    position: relative;
 
}
ul li a :hover{
    transition: 0.3s;
    background-color: #6098ec;
}
